@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>!!!!!Wolverine Runs It!!!!!!!!!</p>

<style>
    .bg {
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    body {
        background-size: cover;
        font-family: Arial;
        color: white;
        background-color: black;
    }

    img.bg {
        width: 500px;
        height: 500px;
    }

    img.hh {
        width: 500px;
        height: 500px;
    }
</style>
<img class="bg" src="https://media1.tenor.com/images/05d67e9b73bab09bbc1a5eb07238eb32/tenor.gif?itemid=7912845" alt="runnnn" />
<img class="hh" src="https://i.imgur.com/XW0kQNE.gif" alt="eeeee" />
</section>
